In [1]:
import pandas as pd
from pandas.io.json import json_normalize

In [24]:
from os import listdir
%autosave 900

Autosaving every 900 seconds

In [3]:
file = [i for i in listdir() if i.endswith('.json')]

daftar_pd = [pd.read_json(i) for i in file]

daftar_data = [json_normalize(i['data']) for i in daftar_pd]

data_gab = pd.concat(daftar_data)

data_gab

,id,kode_lokasi,id_map,kode_provinsi,nm_provinsi,kode_kabkota,nm_kabkota,kode_kecamatan,nm_kecamatan,kode_desa,...,penyaluran1,penyaluran2,penyaluran3,penyerapan1,penyerapan2,penyerapan3,persentase1,persentase2,persentase3,keterangan
0,142379,0319,id-jt,33,JAWA TENGAH,3308,KABUPATEN MAGELANG,330804,SALAM,3308042004,...,190614400,381228800,None,None,None,None,None,None,None,None
1,7212,0319,id-jt,33,JAWA TENGAH,3308,KABUPATEN MAGELANG,330807,SAWANGAN,3308072001,...,207542000,415084000,None,None,None,None,None,None,None,None
2,207404,0319,id-jt,33,JAWA TENGAH,3308,KABUPATEN MAGELANG,330821,WINDUSARI,3308212009,...,248809200,497618400,None,None,None,None,None,None,None,None
3,92972,0319,id-jt,33,JAWA TENGAH,3308,KABUPATEN MAGELANG,330812,KAJORAN,3308122007,...,167465800,334931600,None,None,None,None,None,None,None,None
4,188460,0319,id-jt,33,JAWA TENGAH,3308,KABUPATEN MAGELANG,330807,SAWANGAN,3308072013,...,188295800,376591600,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,195593,1801,id-st,72,SULAWESI TENGAH,7202,KABUPATEN POSO,720208,LORE TENGAH,7202082005,...,183510600,367021200,None,None,533292200,None,None,None,None,None
9996,189962,1801,id-st,72,SULAWESI TENGAH,7202,KABUPATEN POSO,720206,PAMONA SELATAN,7202062022,...,186092400,372184800,None,160085000,288139300,None,None,None,None,None
9997,195594,1801,id-st,72,SULAWESI TENGAH,7202,KABUPATEN POSO,720219,POSO PESISIR SELATAN,7202192004,...,174053800,348107600,None,317931000,426091200,None,None,None,None,None
9998,123403,1801,id-st,72,SULAWESI TENGAH,7202,KABUPATEN POSO,720209,LORE SELATAN,7202092005,...,186040200,372080400,None,None,188999000,None,None,None,None,None
9999,195595,1801,id-st,72,SULAWESI TENGAH,7202,KABUPATEN POSO,720223,LORE BARAT,7202232004,...,290635200,581270400,None,None,772701000,None,None,None,None,None

In [12]:
data_gab.to_csv('dana_desa_2019.csv')

### Dana Desa 2018

In [13]:
%pwd

'/home/ali/Documents/alat/da_des_2017_2019/dd_2019'

In [4]:
cd '/home/ali/Documents/alat/da_des_2017_2019/dd_2018'

/home/ali/Documents/alat/da_des_2017_2019/dd_2018

In [5]:
file_2018 = [i for i in listdir() if i.endswith('.json')]
daftar_pd_2018 = [pd.read_json(i) for i in file_2018]
daftar_data_2018 = [json_normalize(i['data']) for i in daftar_pd_2018]
data_gab_2018 = pd.concat(daftar_data_2018)
data_gab_2018

,id,kode_lokasi,id_map,kode_provinsi,nm_provinsi,kode_kabkota,nm_kabkota,kode_kecamatan,nm_kecamatan,kode_desa,...,penyaluran1,penyaluran2,penyaluran3,penyerapan1,penyerapan2,penyerapan3,persentase1,persentase2,persentase3,keterangan
0,215296,0527,id-ji,35,JAWA TIMUR,3522,KABUPATEN BOJONEGORO,352228,GAYAM,3522282009,...,141147400,282294800,282294800,None,None,None,None,None,None,None
1,154880,0527,id-ji,35,JAWA TIMUR,3522,KABUPATEN BOJONEGORO,352222,MARGOMULYO,3522222003,...,189659360,379318720,379318720,None,None,None,None,None,None,None
2,145922,0527,id-ji,35,JAWA TIMUR,3522,KABUPATEN BOJONEGORO,352210,BAURENO,3522102024,...,149722640,299445280,299445280,None,None,None,None,None,None,None
3,102146,0527,id-ji,35,JAWA TIMUR,3522,KABUPATEN BOJONEGORO,352217,MALO,3522172010,...,180880180,361760360,361760360,None,None,None,None,None,None,None
4,109826,0527,id-ji,35,JAWA TIMUR,3522,KABUPATEN BOJONEGORO,352209,KEPOHBARU,3522092024,...,160398000,320796000,320796000,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,4291,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720311,SIRENJA,7203112005,...,145249000,290498000,290498000,None,270719000,453941000,None,None,None,None
9996,13251,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720309,LABUAN,7203092009,...,145445600,290891200,290891200,142657600,290891200,290891200,None,None,None,None
9997,138180,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720304,RIO PAKAVA,7203042001,...,146483200,292966400,292966400,139850000,152389800,440176200,None,None,None,None
9998,13252,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720324,SINDUE TOMBUSABORA,7203242006,...,148121400,296242800,296242800,148012600,235585200,336544200,None,None,None,None
9999,188868,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720327,BANAWA TENGAH,7203272003,...,136352600,272705200,272705200,None,409057800,272705200,None,None,None,None

In [16]:
data_gab_2018.to_csv('dana_desa_2018.csv')

### Dana Desa 2017

In [6]:
cd '/home/ali/Documents/alat/da_des_2017_2019/dd_2017/'

/home/ali/Documents/alat/da_des_2017_2019/dd_2017

In [7]:
file_2017 = [i for i in listdir() if i.endswith('.json')]
daftar_pd_2017 = [pd.read_json(i) for i in file_2017]
daftar_data_2017 = [json_normalize(i['data']) for i in daftar_pd_2017]
data_gab_2017 = pd.concat(daftar_data_2017)
data_gab_2017

,id,kode_lokasi,id_map,kode_provinsi,nm_provinsi,kode_kabkota,nm_kabkota,kode_kecamatan,nm_kecamatan,kode_desa,...,penyaluran1,penyaluran2,penyaluran3,penyerapan1,penyerapan2,penyerapan3,persentase1,persentase2,persentase3,keterangan
0,17559,2903,id-bt,36,BANTEN,3602,KABUPATEN LEBAK,360222,SOBANG,3602222004,...,470660400,313773600,None,None,None,None,None,None,None,None
1,206491,2903,id-bt,36,BANTEN,3602,KABUPATEN LEBAK,360205,MUNCANG,3602052004,...,488885400,325923600,None,None,None,None,None,None,None,None
2,33436,2903,id-bt,36,BANTEN,3602,KABUPATEN LEBAK,360206,LEUWIDAMAR,3602062004,...,493543000,329040000,None,None,None,None,None,None,None,None
3,206493,2903,id-bt,36,BANTEN,3602,KABUPATEN LEBAK,360222,SOBANG,3602222002,...,479683200,319788800,None,None,None,None,None,None,None,None
4,11933,2903,id-bt,36,BANTEN,3602,KABUPATEN LEBAK,360218,CIBADAK,3602182013,...,484333800,322889200,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,221177,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720306,DAMPELAS,7203062006,...,479974200,319982800,None,323915000,476042000,None,None,None,None,None
9996,110073,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720311,SIRENJA,7203112005,...,480295800,320197200,None,461185940,339302840,None,None,None,None,None
9997,221179,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720314,SOJOL,7203142005,...,483465600,322310400,None,481865600,291895700,None,None,None,None,None
9998,125692,1802,id-st,72,SULAWESI TENGAH,7203,KABUPATEN DONGGALA,720310,SINDUE,7203102007,...,464020800,309347200,None,464020800,309347200,None,None,None,None,None
9999,221184,1803,id-st,72,SULAWESI TENGAH,7204,KABUPATEN TOLI TOLI,720407,BAOLAN,7204072010,...,470194400,313469600,None,465755500,324288650,None,None,None,None,None

In [19]:
data_gab_2017.to_csv('dana_desa_2017.csv')

### Cek DD 2019 - scrap ulang

In [12]:
cd /home/ali/Downloads/da_des_2017_2019/dd_2019_cek

/home/ali/Downloads/da_des_2017_2019/dd_2019_cek

In [13]:
## cek 2019
file_2019_cek = [i for i in listdir() if i.endswith('.json')]
daftar_pd_2019_cek = [pd.read_json(i) for i in file_2019_cek]
daftar_data_2019_cek = [json_normalize(i['data']) for i in daftar_pd_2019_cek]
data_gab_2019_cek = pd.concat(daftar_data_2019_cek)
data_gab_2019_cek

,id,kode_lokasi,id_map,kode_provinsi,nm_provinsi,kode_kabkota,nm_kabkota,kode_kecamatan,nm_kecamatan,kode_desa,...,penyaluran1,penyaluran2,penyaluran3,penyerapan1,penyerapan2,penyerapan3,persentase1,persentase2,persentase3,keterangan
0,18166,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120913,AIR BATU,1209132013,...,166143200,332286400,332286400,None,None,None,None,None,None,None
1,39670,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120918,AEK KUASAN,1209182009,...,147737800,295475600,295475600,None,None,None,None,None,None,None
2,18167,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120918,AEK KUASAN,1209182013,...,146653000,293306000,293306000,None,None,None,None,None,None,None
3,163321,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120921,AEK SONGSONGAN,1209212007,...,154776200,309552400,309552400,None,None,None,None,None,None,None
4,163322,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120923,SEI DADAP,1209232010,...,155434800,310869600,310869600,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,182509,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120926,TINGGI RAJA,1209262002,...,148951200,297902400,297902400,None,None,None,None,None,None,None
9996,151023,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120922,RAHUNIG,1209222002,...,269369000,538739200,538738800,None,None,None,None,None,None,None
9997,71411,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120926,TINGGI RAJA,1209262005,...,321813800,643627600,643627600,None,None,None,None,None,None,None
9998,92659,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120929,RAWANG PANCA ARGA,1209292007,...,145448200,290896400,290896400,None,None,None,None,None,None,None
9999,71412,0710,id-su,12,SUMATERA UTARA,1209,KABUPATEN ASAHAN,120927,SETIA JANJI,1209272004,...,150319200,300638400,300638400,None,None,None,None,None,None,None

### Analisis

In [20]:
data_gab.columns

Index(['id', 'kode_lokasi', 'id_map', 'kode_provinsi', 'nm_provinsi',
       'kode_kabkota', 'nm_kabkota', 'kode_kecamatan', 'nm_kecamatan',
       'kode_desa', 'nm_desa', 'tahun', 'pagu', 'penyaluran1', 'penyaluran2',
       'penyaluran3', 'penyerapan1', 'penyerapan2', 'penyerapan3',
       'persentase1', 'persentase2', 'persentase3', 'keterangan'],
      dtype='object')

In [14]:
print(data_gab.shape)
print(data_gab_2018.shape)
print(data_gab_2017.shape)
print(data_gab_2019_cek.shape)

(74778, 23)
(74375, 23)
(74300, 23)
(74778, 23)

In [24]:
data_gab['pagu'] = data_gab['pagu'].astype(int)

In [29]:
data_gab.groupby(['nm_provinsi']).agg({'pagu':'sum',
                                      'nm_desa':'count'}).reset_index().sort_values('pagu', ascending=False)

                  nm_provinsi           pagu  nm_desa
8                 JAWA TENGAH  7889428596000     7809
9                  JAWA TIMUR  7441561392000     7725
7                  JAWA BARAT  5708003380000     5310
22                      PAPUA  5230904495000     5406
0                        ACEH  4954046537000     6495
32             SUMATERA UTARA  4444585355000     5407
21        NUSA TENGGARA TIMUR  2997357825733     3002
31           SUMATERA SELATAN  2666205250000     2832
17                    LAMPUNG  2427111011781     2435
26           SULAWESI SELATAN  2351148984000     2255
10           KALIMANTAN BARAT  1992571733000     2031
27            SULAWESI TENGAH  1567950719000     1842
28          SULAWESI TENGGARA  1557509634999     1837
23                PAPUA BARAT  1498359269000     1719
11         KALIMANTAN SELATAN  1498190473000     1853
24                       RIAU  1436685874000     1591
12          KALIMANTAN TENGAH  1347142541600     1432
29             SULAWESI UTARA  1209888392936     1506
6                       JAMBI  1184558060000     1399
20        NUSA TENGGARA BARAT  1181329455000      995
18                     MALUKU  1120003973000     1195
2                      BANTEN  1092073316000     1238
3                    BENGKULU  1079418707000     1341
30             SUMATERA BARAT   932325516000      928
19               MALUKU UTARA   891604068000     1063
13           KALIMANTAN TIMUR   870119580983      841
5                   GORONTALO   636614465000      657
1                        BALI   630189586000      636
25             SULAWESI BARAT   560226664000      575
14           KALIMANTAN UTARA   463268514000      447
4               DI YOGYAKARTA   423785119100      392
15  KEPULAUAN BANGKA BELITUNG   309831614000      309
16             KEPULAUAN RIAU   261333056000      275

In [31]:
data_gab_2019_cek[data_gab_2019_cek['nm_kabkota'] == "KABUPATEN PATI"]

,id,kode_lokasi,id_map,kode_provinsi,nm_provinsi,kode_kabkota,nm_kabkota,kode_kecamatan,nm_kecamatan,kode_desa,...,penyaluran1,penyaluran2,penyaluran3,penyerapan1,penyerapan2,penyerapan3,persentase1,persentase2,persentase3,keterangan
7384,81920,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331817,GUNUNGWUNGKAL,3318172013,...,219310800,438621600,None,None,None,None,None,None,None,None
7385,190721,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331807,BATANGAN,3318072009,...,177802600,355605200,None,None,None,None,None,None,None,None
7386,221954,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331812,MARGOREJO,3318122012,...,171748800,343497600,None,None,None,None,None,None,None,None
7387,49154,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331801,SUKOLILO,3318012005,...,286317200,572634400,None,None,None,None,None,None,None,None
7388,52482,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331810,PATI,3318102009,...,164476200,328952400,None,None,None,None,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7780,11772,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331812,MARGOREJO,3318122014,...,201955400,403910800,None,None,None,None,None,None,None,None
7781,11773,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331816,MARGOYOSO,3318162008,...,243108200,486216400,None,None,None,None,None,None,None,None
7782,81917,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331815,WEDARIJAKSA,3318152004,...,237787200,475574400,None,None,None,None,None,None,None,None
7783,81918,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331815,WEDARIJAKSA,3318152008,...,188148000,376296000,None,None,None,None,None,None,None,None
7784,190719,0309,id-jt,33,JAWA TENGAH,3318,KABUPATEN PATI,331801,SUKOLILO,3318012015,...,256947000,513894000,None,None,None,None,None,None,None,None